<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     			http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     			http://www.springframework.org/schema/context
     			http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.example.controller">
    </context:component-scan>
    <bean id="propertyConfigurer" class="com.example.utils.enordecryptutil.AESProterties">
        <property name = "Locations" value = "classpath:env/dev/jdbc.properties" />
    </bean>
    <!--配置spring线程池-->
    <bean id="taskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="WaitForTasksToCompleteOnShutdown" value="true" />
    </bean>
    <import resource="classpath:config/spring-mybatis.xml"/>
    <import resource="classpath:config/spring-tx.xml"/>
    <import resource="classpath:config/spring-shiro.xml"/>
    <import resource="classpath:config/applicationContext-redis.xml"/>

</beans>