@CHARSET "UTF-8";
.fileinput-button {
	width: 80px;
	height: 30px;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.fileinput-button input {
	cursor: pointer;
	direction: ltr;
	font-size: 200px;
	margin: 0;
	opacity: 0;
	position: relative;
	top: -17px;
	left: 0;
	width: 80px;
	height: 30px;
}

input[type="file"] {
	display: block;
}

.bar {
	height: 18px;
	background: green;
}