<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!--加载配置文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:config/spring.xml</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webapp.root</param-value>
  </context-param>
  <!--过滤器-->
  <filter>
    <description>字符集过滤器</description>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <description>字符集编码</description>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    <!--shiro过滤器-->
	<filter>    
	    <filter-name>shiroFilter</filter-name>    
	    <filter-class>    
	        org.springframework.web.filter.DelegatingFilterProxy    
	    </filter-class>    
	    <init-param>    
		    <param-name>targetFilterLifecycle</param-name>    
		    <param-value>true</param-value>    
	    </init-param>
	</filter>
	<filter-mapping>    
	    <filter-name>shiroFilter</filter-name>    
	    <url-pattern>/*</url-pattern>    
	</filter-mapping>
    <filter>
        <description>ajax session过期拦截器</description>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.example.core.filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  <filter>
      <filter-name>XssFilter</filter-name>
      <filter-class>com.example.core.filter.XssFilter</filter-class>
  </filter>
  <filter-mapping>
      <filter-name>XssFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
  </listener>
  <!--srping监听器-->
  <listener>
    <description>spring监听器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 防止spring内存溢出监听器 -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <!--日志初始化servlet-->
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>com.example.core.log4j.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j</param-name>
      <param-value>WEB-INF/classes/properties/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/log/logfj</url-pattern>
  </servlet-mapping>
     <!--druid监控-->
    <servlet>
        <servlet-name>DruidStatView</servlet-name>
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
        <init-param>
            <!-- 用户名 -->
            <param-name>loginUsername</param-name>
            <param-value>druid</param-value>
        </init-param>
        <init-param>
        <!-- 密码 -->
            <param-name>loginPassword</param-name>
            <param-value>druid</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DruidStatView</servlet-name>
        <url-pattern>/druid/*</url-pattern>
    </servlet-mapping>
  <!-- spring mvc servlet -->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <description>spring-mvc</description>
      <param-name>contextConfigLocation</param-name>
      <param-value>
		classpath:config/spring-mvc.xml,
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/*.do</url-pattern>
  </servlet-mapping>


  <!--启动页面-->
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置session超时时间，单位分钟 -->
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <!--<error-page>
	<exception-type>org.apache.shiro.session.InvalidSessionException</exception-type>
	<location>/user/toLogin.jsp</location>
  </error-page>
  <error-page>
  	<exception-type>org.apache.shiro.session.UnknownSessionException</exception-type>
  	<location>/user/toLogin.jsp</location>
  </error-page>-->
</web-app>
